<p>{{ compt | toTime }}</p>
<button nbButton 
        outline
        status="info"
        [disabled]="timer != null"
        (click)="start()">Start</button>
<button nbButton 
        outline
        status="success"
        [disabled]="timer == null"
        (click)="stop()">Stop</button>
<button nbButton 
        outline
        status="danger"
        [disabled]="compt == 0"
        (click)="reset()">Reset</button>
