<nb-card>
    <nb-card-header (click)="toggleVisible()">
        <nb-icon [icon]="!visible ? 'arrow-down' : 'arrow-up'"></nb-icon>
    </nb-card-header>
    <nb-card-body *ngIf="visible">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero architecto provident minima? Laudantium, numquam suscipit! Iure, ut eligendi ullam aliquam magnam recusandae consequuntur debitis iusto. Doloribus eos nemo fugiat ad!
    </nb-card-body>
</nb-card>

<nb-card>
    <nb-card-header>*ngFor</nb-card-header>
    <nb-card-body>
        <ul>
            <li *ngFor="let item of items; let i = index; let pair = even">
                <p [ngClass]="{ 'red':pair, 'blue':!pair }">{{i}} {{item}}</p>
            </li>
        </ul>
    </nb-card-body>
</nb-card>
