<nb-list>
    <nb-list-item *ngFor="let item of list">
        <div>
            <p [ngClass]="{'red': item.expirationDate | expired}">{{item.name}}</p>
            <p>{{item.price}}</p>
            <img [src]="item.image | imagesFolder">
        </div>
    </nb-list-item>
</nb-list>
