<p>{{ maVariable | uppercase }}</p>
<p>{{ maVariable | lowercase }}</p>
<p>{{ maVariable | titlecase }}</p>
<p>{{ maVariable1 }}</p>
<p>{{ maVariable1 | number : '3.2-2' }}</p>
<p>{{ maVariable2 }}</p>
<p>{{ maVariable2 | date: 'dd/MM/yyyy' }}</p>