<nb-card>
    <nb-card-header>Voulez vous supprimer cet article?</nb-card-header>
    <nb-card-body>
        <button (click)="onClick(false)" nbButton status="info">No</button>
        &nbsp;
        <button (click)="onClick(true)" nbButton status="danger">Yes</button>
    </nb-card-body>
</nb-card>
