button {
    margin-left: 10px;
}

.list-item{
    margin-left: 50px;
    margin-right: 50px;
    &:hover {
        cursor: pointer;
    }
    &:hover p {
        color: rebeccapurple!important;
    }
}