<div>
    <input nbInput 
           type="text"
           [(ngModel)]="userEntry" />
    <button nbButton
            status="danger"
            (click)="add()"
            [disabled]="!userEntry">+</button>
</div>
<div>
    <nb-list>
        <nb-list-item *ngFor="let item of list">
            <nb-icon [icon]="item.isChecked ?'checkmark-circle-outline':'close-circle-outline'" 
                     [status]="item.isChecked ? 'success' : 'danger'"></nb-icon>
            <div (click)="check(item)" class="list-item">
                <p>Nom: {{ item.name }}</p>
                <p>Quantité: {{ item.quantity }}</p>
            </div>
            <button nbButton status="danger" 
                    size="tiny"
                    (click)="delete(item)">
                <nb-icon icon="trash"></nb-icon>
            </button>
        </nb-list-item>
    </nb-list>
</div>
