<div style="display: flex;">
    <div style="width: 50%;height: 500px;overflow: scroll;">
        <nb-card>
            <nb-list>
                <nb-list-item *ngFor="let f of films">
                    <div (click)="getDetails(f)">
                        <p>{{f.title}}</p>
                        <p>{{f.director}}</p>
                    </div>
                    <a [routerLink]="['/demo/demo6-details', f.id]" 
                       >lien vers un autre composant</a>
                </nb-list-item>
            </nb-list>
        </nb-card>
    </div>
    <div style="width: 50%;">
        <app-details [film]="selectedFilm"></app-details>
    </div>
</div>

